body {
  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --font-serif: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  font-family: var(--font-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #333;
  background: #fafafc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  display: block;
  margin: 16px 0;
}

.font-serif:not(.font-sans-serif) {
  font-family: var(--font-serif);
}

.font-sans-serif {
  font-family: var(--font-sans-serif);
}

.app {
  display: flex;
  flex-direction: row;
  _align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.app .actions,
/* .app .formal_definition,
.app .tableNFA,
.app .tableDFA, */
.app .NFAGraph,
.app .DFAGraph,
.formal_definitions,
.transition_tables,
.graphs {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fff;
  flex: 1;
  min-width: 380px;

  display: flex;
  gap: 32px;
  flex-direction: column;
}

.graphs {
  flex: 1;
}

.app h2 {
  margin: 0;
  margin-bottom: 16px;
}

.app .actions th {
  text-align: left;
}

.app .formal_definition {
  _font-family: serif;
}
.app fieldset {
  border: 1px solid #ccc;
}

.app .table table {
  border-collapse: collapse;
  width: 100%;
}

.app .table th,
.app .table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.app .table th,
.app .table tbody tr td:first-child {
  font-weight: bold;
  text-align: center;
  background: #fafafa;
}

footer {
  width: 100%;
  text-align: center;
  padding: 16px;
  font-size: 0.8em;
}

footer a {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #999;
  color: inherit;
}
